@charset "UTF-8";
#bp-live_annotation-container {
  font-size: 16px;
}
#bp-live_annotation-container:focus {
  outline: none;
}
#bp-live_annotation-container .download-csv {
  margin: 1em 0;
}
#bp-live_annotation-container #annotation-container {
  position: relative;
}
#bp-live_annotation-container.grid {
  margin: auto;
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
}
#bp-live_annotation-container .row {
  display: flex;
  margin: 0;
}
#bp-live_annotation-container .grid-layout {
  display: grid;
  grid-template-columns: 75% 25%;
  -ms-grid-columns: 75% 25%;
  grid-template-rows: auto 1fr 1px;
  -ms-grid-rows: auto 1fr 1px;
  grid-template-areas: "main aside" "bottom aside";
}
#bp-live_annotation-container .bp-live_annotation-feed {
  background-image: url("../img/cover-hawks.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: main;
  order: 1;
  padding: 0;
}
#bp-live_annotation-container .bp-live_annotation-feed .bp-live_annotation-video-container.sticky {
  animation: stickyVideo 0.3s linear;
  background-color: #e6e1de;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  right: 10px;
  max-width: 400px;
  min-width: 200px;
  padding: 3px;
  position: fixed;
  text-align: center;
  top: 42px;
  width: 25%;
  z-index: 999;
}
#bp-live_annotation-container .bp-live_annotation-feed .bp-live_annotation-video-container .learn-back {
  display: inline-block;
  color: #12568F;
  position: relative;
  padding: 3px 8px 0 25px;
}
#bp-live_annotation-container .bp-live_annotation-feed .bp-live_annotation-video-container .learn-back:before {
  border-left: 2px solid #12568F;
  border-top: 2px solid #12568F;
  content: " ";
  display: table;
  height: 10px;
  left: 8px;
  position: absolute;
  top: 11px;
  transform: rotate(45deg);
  width: 10px;
}
#bp-live_annotation-container .bp-live_annotation-feed .bp-live_annotation-video-container .feed-label {
  color: #000;
  display: block;
  padding-bottom: 3px;
}
#bp-live_annotation-container .bp-live_annotation-feed .bp-live_annotation-video-container:not(.sticky) .learn-back, #bp-live_annotation-container .bp-live_annotation-feed .bp-live_annotation-video-container:not(.sticky) .feed-label {
  display: none;
}
#bp-live_annotation-container .bp-live_annotation-feed .cover-video {
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
@media (hover: none), (hover: on-demand) {
  #bp-live_annotation-container .bp-live_annotation-feed .cover-video {
    display: none;
  }
}
#bp-live_annotation-container .bp-live_annotation-feed .intro-text {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
  position: absolute;
  top: 3rem;
  max-width: 540px;
  z-index: 15;
}
#bp-live_annotation-container .bp-live_annotation-feed .intro-text h2, #bp-live_annotation-container .bp-live_annotation-feed .intro-text p {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
#bp-live_annotation-container .bp-live_annotation-feed .intro-text h2 {
  font-size: 4rem;
  margin-top: 0;
}
#bp-live_annotation-container .bp-live_annotation-feed .intro-text p {
  font-size: 2.5rem;
  margin-bottom: 0;
}
#bp-live_annotation-container .bp-live_annotation-feed .intro-text a {
  color: inherit;
}
#bp-live_annotation-container .bp-live_annotation-feed .play-video {
  color: #fff;
  cursor: pointer;
  font-size: 80px;
  height: 80px;
  left: 50%;
  line-height: 80px;
  margin: -40px 0 0 -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 80px;
  z-index: 20;
}
#bp-live_annotation-container .bp-live_annotation-info {
  grid-area: bottom;
  order: 3;
  padding: 0;
}
#bp-live_annotation-container .bp-live_annotation-footer {
  grid-area: footer;
  padding: 0;
}
#bp-live_annotation-container .bp-live_annotation-aside {
  grid-area: aside;
  background-color: #e6e1de;
  order: 2;
  padding: 5px;
  position: relative;
}
#bp-live_annotation-container .bp-live_annotation-aside h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin: 0 0 0.5em;
}
#bp-live_annotation-container .bp-live_annotation-aside p {
  font-size: 1em;
  margin-bottom: 0.6em;
}
#bp-live_annotation-container .bp-live_annotation-aside ol {
  font-weight: 600;
  margin: 0 0 0.8em 1.2em;
  padding: 0;
}
#bp-live_annotation-container .bp-live_annotation-aside ol li {
  padding: 0;
  margin: 0 0 0.5em;
}
#bp-live_annotation-container .bp-live_annotation-aside button:focus, #bp-live_annotation-container .bp-live_annotation-aside a.btn:focus {
  outline-width: 2px;
  outline-style: dotted;
  outline-color: rgba(197, 84, 28, 0.8);
  outline-offset: 1px;
}
#bp-live_annotation-container .bp-live_annotation-aside .bp-live_annotation-content {
  position: relative;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn {
  border-radius: 8px;
  cursor: pointer;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn.tutorial-toggle {
  margin-top: 1.5em;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn.start-session {
  margin-top: 1em;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn.stop-session {
  background-color: #bc501b;
  border: none;
  font-size: 1.6rem;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 250px;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn.stop-session:hover {
  background-color: #db5e1f;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn-primary {
  background-color: #12568F;
  border-color: #12568F;
  color: #fff !important;
  padding: 10px 16px;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn-primary:hover {
  background-color: #1564a6;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn-secondary {
  background-color: #fff;
  border-color: #12568F;
  color: #12568F !important;
  font-size: 16px;
  margin-top: 1em;
}
#bp-live_annotation-container .bp-live_annotation-aside .btn-secondary:hover {
  background-color: #12568F;
  color: #fff !important;
}
#bp-live_annotation-container .bp-live_annotation-aside .back-link {
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 5px;
}
#bp-live_annotation-container .bp-live_annotation-aside .welcome {
  position: relative;
  padding: 20px;
}
#bp-live_annotation-container .bp-live_annotation-aside .welcome a {
  cursor: pointer;
}
#bp-live_annotation-container .bp-live_annotation-aside .welcome a.learn-button {
  display: inline-block;
  font-size: 1.05em;
  margin: 0.4em 0;
  padding: 10px 16px;
}
#bp-live_annotation-container .bp-live_annotation-aside .welcome .browsehappy {
  display: none;
}
#bp-live_annotation-container .bp-live_annotation-aside .thanks {
  background-color: #e6e1de;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 30px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-out;
  width: 100%;
  z-index: -1;
}
#bp-live_annotation-container .bp-live_annotation-aside .thanks.show {
  opacity: 1;
  transition: none;
  z-index: 99;
}
#bp-live_annotation-container .bp-live_annotation-aside .welcome:not(.show), #bp-live_annotation-container .bp-live_annotation-aside .annotate:not(.show) {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate.show {
  display: flex !important;
  flex-direction: column;
  justify-content: stretch;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .back-link {
  float: right;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .back-link:after {
  content: "X";
  display: inline-block;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0 5px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .tutorial-toggle {
  cursor: pointer;
  float: right;
  margin-top: 8px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .interact {
  background-color: #fff;
  clear: both;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: stretch;
  padding: 5px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .head {
  padding: 5px 5px 10px;
  text-align: center;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .head h3 {
  font-size: 1.15em;
  margin-bottom: 0.2em;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .head p {
  margin: 0;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons {
  border-top: 1px solid rgba(147, 149, 152, 0.3);
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  flex-wrap: wrap;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button {
  color: #333;
  padding: 0;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.on {
  box-shadow: inset 0px 0px 0px 1px #db5e1f;
  color: #f28d1d;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.on:before {
  background-color: #f28d1d;
  color: #fff;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  height: 100%;
  width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button button:focus {
  outline-offset: -2px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species {
  font-size: 0.75em;
  height: 12vw;
  line-height: 1em;
  max-height: 160px;
  text-align: center;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species button {
  background-position: center 10px;
  background-size: 95% auto;
  padding: 84% 5px 10px;
  text-align: center;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity {
  border-top: 1px solid rgba(147, 149, 152, 0.3);
  border-right: 1px solid rgba(147, 149, 152, 0.3);
  display: flex;
  flex-basis: 100%;
  font-size: 0.8em;
  height: 10vw;
  line-height: 1.2em;
  margin-top: 10px;
  max-height: 100px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
  background-position: 36px 22px;
  background-size: 60px auto;
  padding: 10px 8px 10px 45%;
  text-align: left;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .button {
  background: #f4f4f4;
  background: -moz-linear-gradient(top, #fefefe 0%, #ebebeb 100%);
  background: -webkit-linear-gradient(top, #fefefe 0%, #ebebeb 100%);
  background: linear-gradient(to bottom, #fefefe 0%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fefefe", endColorstr="#ebebeb",GradientType=0 );
  align-content: center;
  border-bottom: 1px solid rgba(147, 149, 152, 0.3);
  border-left: 1px solid rgba(147, 149, 152, 0.3);
  box-shadow: 0 2px 2px rgba(147, 149, 152, 0.2);
  cursor: pointer;
  display: block;
  flex-basis: 50%;
  padding: 10px 5px;
  position: relative;
  transition: opacity 0.2s ease-out;
  width: 50%;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .button:before {
  content: " ";
  background-color: #12568F;
  background-image: url("../img/plus-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 58%;
  border: 1px solid rgba(147, 149, 152, 0.6);
  border-radius: 50%;
  height: 21px;
  left: 5px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 5px;
  transition: all 0.2s ease-out;
  width: 21px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .button img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .button span {
  display: block;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .button:hover, #bp-live_annotation-container .bp-live_annotation-aside .annotate .button:focus-within {
  background: -moz-linear-gradient(top, #ebebeb 0%, #fefefe 100%);
  background: -webkit-linear-gradient(top, #ebebeb 0%, #fefefe 100%);
  background: linear-gradient(to bottom, #ebebeb 0%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ebebeb", endColorstr="#fefefe",GradientType=0 );
  color: #12568F;
  text-decoration: none;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .button:hover:before, #bp-live_annotation-container .bp-live_annotation-aside .annotate .button:focus-within:before {
  border-color: #1564a6;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam {
  border: 1px solid rgba(147, 149, 152, 0.3);
  display: grid;
  grid-template-columns: 0.95fr 1.05fr;
  grid-template-rows: auto;
  grid-template-areas: "delivery-icon delivery-male" "delivery-icon delivery-female" "delivery-icon delivery-unsure" "feeding-icon feeding-start" "feeding-icon feeding-stop" "action-icon action-mantling" "action-icon action-flapping" "action-icon action-walking" "vocalizing-icon vocalizing";
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button {
  width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button.on {
  box-shadow: inset 0px 0px 0px 1px #db5e1f;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button.on span {
  color: #f28d1d;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button.on:before {
  background-color: #f28d1d;
  border-color: #c5541c;
  color: #fff;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-icon {
  border-left: none;
  pointer-events: none;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-icon:before {
  content: none;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-icon span {
  color: #15326a;
  display: block;
  font-size: 1.6rem;
  line-height: 1.1em;
  margin-bottom: 1rem;
  text-align: center;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-icon img {
  display: block;
  margin: 0 auto;
  max-width: 80px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-icon button {
  pointer-events: none;
  padding: 0.625rem;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-action {
  pointer-events: inherit;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-action:before {
  height: 19px;
  left: 6px;
  margin-top: -10px;
  top: 50%;
  width: 19px;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-action:hover {
  border-bottom-color: transparent;
  border-top-color: rgba(147, 149, 152, 0.4) !important;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button-action button {
  background: none;
  color: #12568F;
  line-height: 1.2em;
  padding: 0.6rem 0.5rem 0.6rem 3.5rem;
  position: relative;
  text-align: left;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(1) {
  grid-area: delivery-icon;
  border-bottom: 3px solid rgba(147, 149, 152, 0.5);
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(2) {
  grid-area: delivery-male;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(3) {
  grid-area: delivery-female;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(4) {
  grid-area: delivery-unsure;
  border-bottom: 3px solid rgba(147, 149, 152, 0.5);
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(5) {
  grid-area: feeding-icon;
  border-bottom: 3px solid rgba(147, 149, 152, 0.5);
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(6) {
  grid-area: feeding-start;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(7) {
  grid-area: feeding-stop;
  border-bottom: 3px solid rgba(147, 149, 152, 0.5);
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(8) {
  grid-area: action-icon;
  border-bottom: 3px solid rgba(147, 149, 152, 0.5);
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(9) {
  grid-area: action-mantling;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(10) {
  grid-area: action-flapping;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(11) {
  grid-area: action-walking;
  border-bottom: 3px solid rgba(147, 149, 152, 0.5);
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(12) {
  grid-area: vocalizing-icon;
}
#bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons.nest-cam .button:nth-child(13) {
  grid-area: vocalizing;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior .back-link:before {
  border-style: solid;
  border-width: 0 0 0.15em 0.15em;
  content: "";
  display: inline-block;
  height: 0.65em;
  left: 5px;
  margin-right: 10px;
  position: relative;
  top: 0.45em;
  transform: rotate(45deg);
  vertical-align: top;
  width: 0.65em;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior .interact {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior h3 {
  font-weight: 400;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior .btn {
  font-size: 1.125em;
  max-width: 90px;
  width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior .btn.active {
  background-color: #1564a6;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior .btn-group-toggle {
  margin-bottom: 2.5em;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior .message {
  transition: opacity 0.3s ease-out;
}
#bp-live_annotation-container .bp-live_annotation-aside .behavior .message:not(.show) {
  opacity: 0;
}
#bp-live_annotation-container .bp-live_annotation-bottom {
  background-color: #716760;
  flex: 1 1 auto;
  height: 100%;
  min-height: 180px;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side {
  align-items: center;
  display: flex;
  padding: 0 !important;
  position: relative;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side > div {
  align-content: center;
  align-items: center;
  display: flex;
  left: 0;
  position: absolute;
  width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .weather-widget {
  padding: 20px 10px;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .weather-widget iframe {
  pointer-events: none;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .links {
  height: 100%;
  flex-direction: column;
  justify-content: stretch;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .links .btn {
  align-items: center;
  background: #716760;
  background: -moz-linear-gradient(top, #716760 0%, #57514b 100%);
  background: -webkit-linear-gradient(top, #716760 0%, #57514b 100%);
  background: linear-gradient(to bottom, #716760 0%, #57514b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$color-bottom", endColorstr="#57514b",GradientType=0 );
  border: none;
  border-radius: 0;
  color: #fff;
  display: flex;
  font-size: 1.25em;
  height: 50%;
  justify-content: center;
  white-space: normal;
  width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .links .btn:hover, #bp-live_annotation-container .bp-live_annotation-bottom .info-side .links .btn:focus {
  background: #57514b;
  background: -moz-linear-gradient(top, #57514b 0%, #716760 100%);
  background: -webkit-linear-gradient(top, #57514b 0%, #716760 100%);
  background: linear-gradient(to bottom, #57514b 0%, #716760 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#57514b", endColorstr="$color-bottom",GradientType=0 );
  text-decoration: underline;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .links .btn:focus {
  outline-width: 2px;
  outline-style: dotted;
  outline-color: rgba(197, 84, 28, 0.8);
  outline-offset: 1px;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .links .btn:first-child {
  border-bottom: 1px solid #fff;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .btn-secondary {
  background-color: #fff;
  border-color: #0068a9;
  color: #0068a9 !important;
  margin: 1em 0;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info-side .btn-secondary:hover {
  background-color: #f0f0f0;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info {
  border-left: 1px solid #fff;
  position: relative;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info > div {
  left: 0;
  position: absolute;
  width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .welcome {
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  width: 100%;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .welcome.show {
  display: flex !important;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .welcome p {
  font-size: 1.25em;
  margin-bottom: 0;
  max-width: none;
  text-align: center;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .welcome p span {
  display: block;
  font-size: 1.5em;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .welcome a {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .welcome a:hover {
  color: #d1d2d4;
  display: inline-block;
  text-decoration: none;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status {
  top: 0;
  padding: 20px 30px;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status h4 {
  color: #fff;
  font-size: 1.3em;
  margin: 0 0 0.5em;
  padding: 0;
  text-transform: uppercase;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status h4 span {
  display: none;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status p {
  color: #fff;
  font-size: 1.125em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.25em;
  margin: 0 0 0.4em;
  position: relative;
  transition: all 0.2s ease-in;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status p strong {
  font-weight: 500;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status p em {
  font-weight: 300;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status p.new {
  color: #f6b880;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status .annotation-button-delete {
  background: none;
  border: none;
  display: inline-block;
  opacity: 0.8;
  padding: 0;
  transition: opacity 0.2s ease-out;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status .annotation-button-delete:after {
  background-color: #d1d2d4;
  border-radius: 50%;
  color: #333;
  content: "×";
  cursor: pointer;
  display: inline-block;
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 16px;
  margin: 0 10px;
  text-align: center;
  transition: all 0.2s ease-out;
  width: 20px;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status .annotation-button-delete:hover, #bp-live_annotation-container .bp-live_annotation-bottom .info .status .annotation-button-delete:focus {
  opacity: 1;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status .annotation-button-delete:focus {
  outline: none;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .status .annotation-button-delete:focus:after {
  outline-width: 2px;
  outline-style: dotted;
  outline-color: rgba(197, 84, 28, 0.8);
  outline-offset: 0;
}
#bp-live_annotation-container .bp-live_annotation-bottom .info .bp-live_annotation-updates.nano {
  height: 115px;
}
#bp-live_annotation-container div[data-session] {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: 0;
}
#bp-live_annotation-container div[data-session].show {
  opacity: 1;
  z-index: 2;
}
#bp-live_annotation-container div[data-session]:not(.show) {
  height: 0;
  overflow: none;
}
#bp-live_annotation-container #weather-widget {
  background-color: transparent;
  margin: auto !important;
  text-align: center !important;
}
#bp-live_annotation-container #weather-widget h3 {
  color: #fff;
  float: none !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem !important;
  font-weight: normal !important;
  margin: auto;
  padding: 0;
  text-align: center;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content {
  background: 0 0;
  border: none !important;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content h3 {
  display: none !important;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content p {
  color: #fff;
  float: none !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 0 !important;
  text-align: center;
  width: 100% !important;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content p span.aw-temperature-today {
  font-size: 2.75em !important;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content p span.aw-weather-description {
  font-size: 1.25em !important;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content sup {
  vertical-align: baseline !important;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather {
  cursor: default;
}
#bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather div.aw-current-weather-inner {
  padding: 0 !important;
}
#bp-live_annotation-container #weather-widget span.aw-icon, #bp-live_annotation-container #weather-widget time, #bp-live_annotation-container #weather-widget div.aw-get-widget-footer, #bp-live_annotation-container #weather-widget #link_get_widget {
  display: none !important;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
    background-size: 40px auto;
    padding-left: 45%;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity {
    flex-basis: 100%;
    height: 7vw;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
    background-position: 35px center;
    padding: 10px 8px 10px 100px;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity:last-of-type {
    margin-top: 0;
  }
}
@media (max-width: 1023px) {
  #bp-live_annotation-container .cover-video {
    pointer-events: none;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info .status {
    font-size: 14px;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species button {
    background-position: 10px center;
    background-size: 80% auto;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
    background-position: 30px center;
    background-size: auto 65%;
  }
}
@media (max-width: 780px) {
  #bp-live_annotation-container .bp-live_annotation-feed .bp-live_annotation-video-container.sticky {
    top: 10px;
  }
}
@media (max-width: 1024px) {
  #bp-live_annotation-container .grid-layout {
    display: block;
  }
  #bp-live_annotation-container div[data-session] {
    position: relative !important;
  }
  #bp-live_annotation-container div[data-session].show {
    display: block;
  }
  #bp-live_annotation-container div[data-session]:not(.show) {
    display: none;
  }
  #bp-live_annotation-container .bp-live_annotation-feed .intro-text h2 {
    font-size: 3rem;
  }
  #bp-live_annotation-container .bp-live_annotation-feed .intro-text p {
    font-size: 2rem;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species, #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity {
    align-items: center;
    display: flex;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species button, #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
    padding: 5px 10px 5px 45% !important;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species {
    height: 15vw;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species button {
    background-position: 15px center;
    background-size: auto 70%;
    text-align: left;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity {
    height: 15vw;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
    background-position: 50px center;
    background-size: auto 78%;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button:before {
    background-size: 60%;
    height: 16px;
    width: 16px;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom {
    flex-direction: column;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info {
    border-bottom: 1px solid #fff;
    border-left: none;
    order: 1;
    width: 100%;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info .status {
    font-size: 14px;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info .status p {
    font-size: 1em;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info .status .annotation-button-delete:after {
    font-size: 14px;
    height: 15px;
    line-height: 15px;
    margin: 0 0 0 5px;
    position: relative;
    top: -2px;
    width: 15px;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info-side {
    order: 2;
    width: 100%;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info-side .weather-widget {
    padding: 10px;
  }
  #bp-live_annotation-container #weather-widget div.aw-widget-current-inner div.aw-widget-content h3 {
    padding: 0 !important;
    width: auto !important;
  }
}
@media (max-width: 479px) {
  #bp-live_annotation-container .bp-live_annotation-feed .intro-text {
    border-radius: 0.3rem;
    left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    top: 1rem;
  }
  #bp-live_annotation-container .bp-live_annotation-feed .intro-text h2 {
    font-size: 2rem;
  }
  #bp-live_annotation-container .bp-live_annotation-feed .intro-text p {
    font-size: 1rem;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species button, #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
    padding-left: 40% !important;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.species button {
    background-position: 10px center;
  }
  #bp-live_annotation-container .bp-live_annotation-aside .annotate .bp-live_annotation-buttons .button.activity button {
    background-position: 40px center;
    padding-left: 35% !important;
  }
  #bp-live_annotation-container .bp-live_annotation-bottom .info .status {
    padding: 15px 5px;
  }
}
#bp-live_annotation-container div.learn-container {
  padding-top: 2em;
  max-width: 968px;
}
#bp-live_annotation-container div.learn-container:focus {
  outline: none;
}
#bp-live_annotation-container div.learn-container h3 {
  font-size: 1.6em;
  margin: 0 0 1em;
  padding: 0;
}
#bp-live_annotation-container div.learn-container h4 {
  font-size: 1.4em;
  margin: 0 0 1em;
  padding: 0;
}
#bp-live_annotation-container div.learn-container p {
  max-width: none !important;
}
#bp-live_annotation-container div.learn-container p.intro {
  font-size: 1.2em;
}
#bp-live_annotation-container div.learn-container ul, #bp-live_annotation-container div.learn-container ol {
  margin-bottom: 1em;
  margin-top: -0.5em;
}
#bp-live_annotation-container div.learn-container:not(.show) {
  display: none;
}

hr.seperate {
  margin: 2.5em 0;
}

.modal .modal-dialog {
  max-height: 90vh;
  max-width: 96vw;
  width: 1000px;
}
.modal .modal-header, .modal .modal-footer {
  border: none;
}
.modal .modal-header {
  padding-bottom: 0;
}
.modal .modal-header .close {
  font-size: 36px;
  line-height: 1em;
  opacity: 0.8;
  position: absolute;
  right: 10px;
  top: 0;
}
.modal .modal-footer {
  padding-top: 0;
}
.modal h4 {
  font-weight: 500;
  margin-top: 0;
  padding: 0;
}
.modal p {
  max-width: none;
}
.modal .step:not(.show) {
  display: none;
}
.modal .species {
  margin-bottom: 1.5rem;
}
.modal .species img {
  margin-bottom: 1rem;
}
.modal .nano {
  height: 90vh;
}
.modal .nano .nano-content, .modal .nano .nano-pane {
  bottom: 15px;
  top: 50px;
}
.modal .nano .nano-pane {
  right: 5px;
}

.nano {
  height: 115px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.nano .nano-content {
  padding-right: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.nano .nano-content:focus {
  outline: thin dotted;
}
.nano .nano-content::-webkit-scrollbar {
  display: block;
}
.nano.has-scrollbar .nano-content {
  overflow: scroll;
  overflow-x: hidden;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  transition: 0.2s;
  width: 10px;
}
.nano > .nano-pane > .nano-slider {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 0 1px;
  position: relative;
}
.nano:hover > .nano-pane, .nano .nano-pane.active, .nano .nano-pane.flashed {
  opacity: 0.99;
}

#bp-live_annotation-tutorial .modal-content {
  background-color: #434343;
}
#bp-live_annotation-tutorial .modal-content .modal-body * {
  color: #fff;
}
#bp-live_annotation-tutorial .modal-content .modal-body > br {
  display: none;
}
#bp-live_annotation-tutorial .modal-header {
  min-height: 0;
  padding: 0;
}
#bp-live_annotation-tutorial .close {
  color: #fff;
  font-weight: 400;
  text-shadow: none;
  z-index: 200;
}
#bp-live_annotation-tutorial .slide-count {
  color: #fff;
  float: left;
  font-size: 1.5em;
}

.step {
  position: relative;
}
.step h4 {
  font-size: 1.5em;
  font-weight: 400;
}
.step p {
  max-width: none;
}
.step > p:first-child {
  display: none;
}
.step .btn {
  border-color: #797b7f;
  background-color: #8e9093;
}
.step .btn:focus {
  outline-offset: -2px;
}
.step ol {
  font-size: 14px !important;
}
.step ol li {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  margin: 0 0 1em 1.5em;
}
.step ol li a {
  text-decoration: underline;
}
.step span.remove {
  display: inline-block;
  opacity: 0.8;
}
.step span.remove:after {
  background-color: #d1d2d4;
  border-radius: 50%;
  color: #333;
  content: "×";
  cursor: pointer;
  display: inline-block;
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 16px;
  margin: 0 6px;
  text-align: center;
  transition: all 0.2s ease-out;
  width: 20px;
}
@media (min-width: 800px) {
  .step .modal-dialog, .step .modal-content {
    height: auto;
  }
  .step ol {
    margin: 0 !important;
    max-width: 75% !important;
    padding: 20px !important;
    position: absolute;
    width: 725px;
  }
  .step ol li {
    color: #fff;
  }
  .step ol li a {
    color: #e7e7e8;
    text-decoration: underline;
  }
}
@media (max-width: 799px) {
  .step .modal-dialog, .step .modal-content {
    height: auto;
  }
  .step ol {
    padding: 0 !important;
  }
}

.modal-backdrop.in {
  opacity: 0.8;
}

.grid p img {
  height: auto !important;
}

@keyframes stickyVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Page overrides */
.page-id-1925 #bp-article-content, .page-id-1925 #bp-article-content p {
  max-width: 885px;
}

body.annotation-user #wp-admin-bar-root-default, body.annotation-user #wp-admin-bar-search, body.annotation-user #wp-admin-bar-edit-profile {
  display: none;
}
body.annotation-user #wp-admin-bar-user-info a {
  color: #b4b9be !important;
  cursor: default;
}

@media (min-width: 29.999em) {
  #annotation-field-guide .col-nested.col-2-nested .nested-col:first-of-type, #annotation-field-guide .col-nested.col-2-nested .nested-col:last-of-type {
    padding-top: 0 !important;
    width: 48% !important;
  }
  #annotation-field-guide .col-nested.col-2-nested .nested-col:first-of-type {
    margin-right: 2% !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #bp-live_annotation-container .grid-layout {
    display: flex;
    flex-wrap: wrap;
  }
  #bp-live_annotation-container .bp-live_annotation-feed {
    width: 75%;
  }
  #bp-live_annotation-container .bp-live_annotation-aside {
    width: 25%;
  }
  #bp-live_annotation-container .bp-live_annotation-info {
    flex-grow: 2;
    width: 100%;
  }
}
@media screen and (min-width: 0\0 ) {
  #bp-live_annotation-container .bp-live_annotation-aside .welcome .browsehappy {
    display: block;
  }
}

/*# sourceMappingURL=live-annotation.css.map */
