$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
$color-black: #333;
$color-blue: #12568F;
$color-dark-blue: #15326a;
$color-orange: #c5541c;
$color-orange-dark: darken($color-orange, 2%);
$color-orange-light: lighten($color-orange, 5%);
$color-blue-light: lighten($color-blue, 5%);
$color-gray-light: #e7e7e8;
$color-gray-medium: #d1d2d4;
$color-gray-dark: #636466;
$color-aside: #e6e1de;
$color-bottom: #716760;
$button-border: 1px solid rgba(#939598, .3);
$button-border-thick: 3px solid rgba(#939598, .5);
$color-link: $color-blue;

#bp-live_annotation-container {
    font-size: 16px;
    &:focus {
        outline: none;
    }
    .download-csv {
        margin: 1em 0;
    }
    #annotation-container {
        position: relative;
    }
    &.grid {
        margin: auto;
        max-width: 1230px;
        padding: 0 15px;
        width: 100%;
    }
    .row {
        display: flex;
        margin: 0;
    }
    .grid-layout {
        display: grid;
        grid-template-columns: 75% 25%;
        -ms-grid-columns: 75% 25%;
        grid-template-rows: auto 1fr 1px;
        -ms-grid-rows: auto 1fr 1px;
        grid-template-areas: "main aside"
                             "bottom aside";
    }
    .bp-live_annotation-feed {
        background: {
            image: url('../img/cover-hawks.jpg');
            position: 0 0;
            repeat: no-repeat;
            size: cover;
        }
        grid-area: main;
        order: 1;
        padding: 0;
        .bp-live_annotation-video-container {
            &.sticky {
                animation: stickyVideo .3s linear;
                background-color: $color-aside;
                box-shadow: 0 0 5px rgba(#000, .5);
                right: 10px;
                max-width: 400px;
                min-width: 200px;
                padding: 3px;
                position: fixed;text-align: center;
                top: 42px;
                width: 25%;
                z-index: 999;
            }
            .learn-back {
                display: inline-block;
                color: $color-link;
                position: relative;
                padding: 3px 8px 0 25px;
                &:before {
                    border-left: 2px solid $color-link;
                    border-top: 2px solid $color-link;
                    content: " ";
                    display: table;
                    height: 10px;
                    left: 8px;
                    position: absolute;
                    top: 11px;
                    transform: rotate(45deg);
                    width: 10px;
                };
            }
            .feed-label {
                color: #000;
                display: block;
                padding-bottom: 3px;
            }
            &:not(.sticky) {
                .learn-back, .feed-label {
                    display: none;
                }
            }
        }
        .cover-video {
            left: 0;
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            @media (hover:none), (hover:on-demand) { 
                display: none;
            }
        }
        .intro-text {
            background-color: rgba(#000,.7);
            border-radius: .5rem;
            left: 2rem;
            margin-right: 2rem;
            padding: 2rem;
            position: absolute;
            top: 3rem;
            max-width: 540px;
            z-index: 15;
            h2,p {
                color: #fff;
                font-family: $font-family;
                text-shadow: 0 1px 3px rgba(#000, .8);
            }
            h2 {
                font-size: 4rem;
                margin-top: 0;
            }
            p {
                font-size: 2.5rem;
                margin-bottom: 0;
            }
            a {
                color: inherit;
            }
        }
        .play-video {
            color: #fff;
            cursor: pointer;
            font-size: 80px;
            height: 80px;
            left: 50%;
            line-height: 80px;
            margin: -40px 0 0 -40px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 80px;
            z-index: 20;
        }
    }
    .bp-live_annotation-info  {
        grid-area: bottom;
        order: 3;
        padding: 0;
    }
    .bp-live_annotation-footer  {
        grid-area: footer;
        padding: 0;
    }
    .bp-live_annotation-aside {
        grid-area: aside;
        background-color: $color-aside;
        order: 2;
        padding: 5px;
        position: relative;
        h3 {
            font: {
                family: $font-family;
                size: 1.5em;
            }
            margin: 0 0 .5em;
        }
        p {
            font-size: 1em;
            margin-bottom: .6em;
        }
        ol {
            font-weight: 600;
            margin: 0 0 .8em 1.2em;
            padding: 0;
            li {
                padding: 0;
                margin: 0 0 .5em;
            }
        }
        button, a.btn {
            &:focus {
                outline: {
                    width: 2px;
                    style: dotted;
                    color: rgba($color-orange,.8);
                    offset: 1px;
                }
            }
        }
        .bp-live_annotation-content {
            position: relative;
        }
        .btn {
            border-radius: 8px;
            cursor: pointer;
            &.tutorial-toggle {
                margin-top: 1.5em;
            }
            &.start-session {
                margin-top: 1em;
            }
            &.stop-session {
                background-color: $color-orange-dark;
                border: none;
                font-size: 1.6rem;
                margin: 1rem auto;
                padding: 1rem;
                max-width: 250px;
                &:hover {
                    background-color: $color-orange-light;
                }
            }
        }
        .btn-primary {
            background-color: $color-blue;
            border-color: $color-blue;
            color: #fff !important;
            padding: 10px 16px;
            &:hover {
                background-color: $color-blue-light;
            }
        }
        .btn-secondary {
            background-color: #fff;
            border-color: $color-blue;
            color: $color-blue !important;
            font-size: 16px;
            margin-top: 1em;
            &:hover {
                background-color: $color-blue;
                color: #fff !important;
            }
        }
        .back-link {
            color: $color-black;
            cursor: pointer;
            display: inline-block;
            font-size: 1.1em;
            margin-bottom: 5px;
        }
        .welcome {
            position: relative;
            padding: 20px;
            a {
                cursor: pointer;
                &.learn-button {
                    display: inline-block;
                    font-size: 1.05em;
                    margin: .4em 0;
                    padding: 10px 16px;
                }
            }
            .browsehappy {
                display: none;
            }
        }
        .thanks {
            background-color: $color-aside;
            height: 100%;
            left: 0;
            opacity: 0;
            padding: 30px;
            position: absolute;
            top: 0;
            transition: all .2s ease-out;
            width: 100%;
            z-index: -1;
            &.show {
                opacity: 1;
                transition: none;
                z-index: 99;
            }
        }
        .welcome, .annotate {
            &:not(.show) {
                left: 0;
                position: absolute;
                top: 0;
                z-index: -1;
            }
        }
        .annotate {
          &.show {
            display: flex !important;
            flex-direction: column;
            justify-content: stretch;
            // min-height: 90%;
          }
            .back-link {
                float: right;
                &:after {
                    content:"X";
                    display: inline-block;
                    font-weight: bold;
                    font-size: .9em;
                    margin: 0 5px;
                }
            }
            .tutorial-toggle {
                cursor: pointer;
                float: right;
                margin-top: 8px;
            }
            .interact {
                background-color: #fff;
                clear: both;
                display: flex;
                flex-direction: column;
                flex-grow: 2;
                justify-content: stretch;
                padding: 5px;
            }
            .head {
                padding: 5px 5px 10px;
                text-align: center;
                h3 {
                    font-size: 1.15em;
                    margin-bottom: .2em;
                }
                p {
                    margin: 0;
                }
            }
            .bp-live_annotation-buttons {
                border-top: $button-border;
                display: flex;
                flex-direction: column;
                flex-grow: 2;
                flex-wrap: wrap;
                .button {
                    color: $color-black;
                    padding: 0;
                    &.on {
                        box-shadow: inset 0px 0px 0px 1px $color-orange-light;
                        color: #f28d1d;
                        &:before {
                            background-color: #f28d1d;
                            color: #fff;
                        }
                    }
                    button {
                        background: {
                            color: transparent;
                            repeat: no-repeat;
                        }
                        border: none;
                        height: 100%;
                        width: 100%;
                        &:focus {
                            outline-offset:-2px;
                        }
                    }
                    &.species {
                        font-size: .75em;
                        height: 12vw;
                        line-height: 1em;
                        max-height: 160px;
                        text-align: center;
                        button {
                            background: {
                                position: center 10px;
                                size: 95% auto;
                            }
                            padding: 84% 5px 10px;
                            text-align: center;
                        }
                    }
                    &.activity {
                        border-top: $button-border;
                        border-right: $button-border;
                        display: flex;
                        flex-basis: 100%;
                        font-size: .8em;
                        height: 10vw;
                        line-height: 1.2em;
                        margin-top: 10px;
                        max-height: 100px;
                        button {
                            // hiding styles for two buttons
                            // background: {
                            //     position: 5px 35px;
                            //     size: 50px auto;
                            // }
                            // padding: 25px 8px 10px 47%;
                            background: {
                                position: 36px 22px;
                                size: 60px auto;
                            }
                            padding: 10px 8px 10px 45%;
                            text-align: left;
                        }
                    }
                }
            }
            .button {
                background: #f4f4f4;
                background: -moz-linear-gradient(top, #fefefe 0%, #ebebeb 100%);
                background: -webkit-linear-gradient(top, #fefefe 0%,#ebebeb 100%);
                background: linear-gradient(to bottom, #fefefe 0%,#ebebeb 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ebebeb',GradientType=0 );
                align-content: center;
                border-bottom: $button-border;
                border-left: $button-border;
                box-shadow: 0 2px 2px rgba(#939598, .2);
                cursor: pointer;
                display: block;
                flex-basis: 50%;
                padding: 10px 5px;
                position: relative;
                transition: opacity .2s ease-out;
                width: 50%;
                // &:nth-child(even) {
                //     border-right: $button-border;
                // }
                &:before {
                    content: " ";
                    background: {
                        color: $color-blue;
                        image: url('../img/plus-icon.svg');
                        position: center center;
                        repeat: no-repeat;
                        size: 58%;
                    }
                    border: 1px solid rgba(#939598, .6);
                    border-radius: 50%;
                    height: 21px;
                    left: 5px;
                    pointer-events: none;
                    position: absolute;
                    text-align: center;
                    top: 5px;
                    transition: all .2s ease-out;
                    width: 21px;
                }
                img {
                    display: block;
                    height: auto;
                    margin: auto;
                    max-width: 100%;
                }
                span {
                    display: block;
                }
                &:hover, &:focus-within {
                    background: -moz-linear-gradient(top, #ebebeb 0%, #fefefe 100%);
                    background: -webkit-linear-gradient(top, #ebebeb 0%,#fefefe 100%);
                    background: linear-gradient(to bottom, #ebebeb 0%,#fefefe 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#fefefe',GradientType=0 );
                    color: $color-blue;
                    text-decoration: none;
                    &:before {
                        border-color: $color-blue-light;
                    }
                }
            }


            .bp-live_annotation-buttons.nest-cam {
              border: $button-border;
              display: grid;
              grid-template-columns: .95fr 1.05fr;
              grid-template-rows: auto;
              grid-template-areas: 
                "delivery-icon delivery-male" 
                "delivery-icon delivery-female" 
                "delivery-icon delivery-unsure"
                "feeding-icon feeding-start" 
                "feeding-icon feeding-stop"
                "action-icon action-mantling" 
                "action-icon action-flapping"
                "action-icon action-walking"
                "vocalizing-icon vocalizing";
              .button {
                width: 100%;
                &.on {
                  box-shadow: inset 0px 0px 0px 1px $color-orange-light;
                  span {
                    color: #f28d1d;
                  }
                  &:before {
                      background-color: #f28d1d;
                      border-color: $color-orange;
                      color: #fff;
                  }
                }
              }
              .button-icon {
                border-left: none;
                pointer-events: none;
                &:before {
                  content: none;
                }
                span {
                  color: $color-dark-blue;
                  display: block;
                  font-size: 1.6rem;
                  line-height: 1.1em;
                  margin-bottom: 1rem;
                  text-align: center;
                }
                img {
                  display: block;
                  margin: 0 auto;
                  max-width: 80px;
                }
                button {
                  pointer-events: none;
                  padding: .625rem;
                }
              }
              .button-action {
                pointer-events: inherit;
                &:before {
                  height: 19px;
                  left: 6px;
                  margin-top: -10px;
                  top: 50%;
                  width: 19px;
                }
                &:hover {
                  border-bottom-color: transparent;
                  border-top-color: rgba(#939598, .4) !important;
                }
                button {
                  background: none;
                  color: $color-blue;
                  line-height: 1.2em;
                  padding: .6rem .5rem .6rem 3.5rem;
                  position: relative;
                  text-align: left;
                }
              }
              .button:nth-child(1) {
                grid-area: delivery-icon;
                border-bottom: $button-border-thick;
              }
              .button:nth-child(2) {
                grid-area: delivery-male;
              }
              .button:nth-child(3) {
                grid-area: delivery-female;
              }
              .button:nth-child(4) {
                grid-area: delivery-unsure;
                border-bottom: $button-border-thick;
              }
              .button:nth-child(5) {
                grid-area: feeding-icon;
                border-bottom: $button-border-thick;
              }
              .button:nth-child(6) {
                grid-area: feeding-start;
              }
              .button:nth-child(7) {
                grid-area: feeding-stop;
                border-bottom: $button-border-thick;
              }
              .button:nth-child(8) {
                grid-area: action-icon;
                border-bottom: $button-border-thick;
              }
              .button:nth-child(9) {
                grid-area: action-mantling;
              }
              .button:nth-child(10) {
                grid-area: action-flapping;
              }
              .button:nth-child(11) {
                grid-area: action-walking;
                border-bottom: $button-border-thick;
              }
              .button:nth-child(12) {
                grid-area: vocalizing-icon;
              }
              .button:nth-child(13) {
                grid-area: vocalizing;
              }
            }

            // .button-container {
            //   background: #f4f4f4;
            //   background: -moz-linear-gradient(top, #fefefe 0%, #ebebeb 100%);
            //   background: -webkit-linear-gradient(top, #fefefe 0%,#ebebeb 100%);
            //   background: linear-gradient(to bottom, #fefefe 0%,#ebebeb 100%);
            //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ebebeb',GradientType=0 );
            //   box-shadow: 0 2px 2px rgba(#939598, .2);
            //   display: flex;
            //   flex-grow: 2;
            //   width: 100%;
            //   .button-icon, .button-group {
            //     border: $button-border;
            //   }
            //   &:not(:last-child) {
            //     .button-icon, .button-group {
            //       border-bottom-width: 3px;
            //     }
            //   }
            //   .button-icon {
            //     flex: 0 0 50%;
            //     padding: .625rem;
            //     span {
            //       color: $color-dark-blue;
            //       display: block;
            //       font-size: 1.6rem;
            //       line-height: 1.1em;
            //       margin-bottom: 1rem;
            //       text-align: center;
            //     }
            //     img {
            //       display: block;
            //       margin: 0 auto;
            //       max-width: 80px;
            //     }
            //   } // button-icon
            //   .button-group {
            //     border-left: none;
            //     display: flex;
            //     flex: 0 0 50%;
            //     flex-direction: column;
            //     button {
            //       background: none;
            //       border: none;
            //       color: $color-blue;
            //       flex-grow: 2;
            //       line-height: 1.1em;
            //       padding: .5rem .5rem .5rem 3.8rem;
            //       position: relative;
            //       text-align: left;
            //       &:not(:first-child) {
            //         border-top: $button-border;
            //       }
            //       &:before {
            //           content: " ";
            //           background-color: $color-blue;
            //           background: {
            //               image: url('../img/plus-icon.svg');
            //               position: center center;
            //               repeat: no-repeat;
            //               size: 58%;
            //           }
            //           border: 1px solid rgba(#939598, .6);
            //           border-radius: 50%;
            //           height: 21px;
            //           left: 8px;
            //           margin-top: -10px;
            //           pointer-events: none;
            //           position: absolute;
            //           text-align: center;
            //           top: 50%;
            //           transition: all .2s ease-out;
            //           width: 21px;
            //       }
            //       &.on {
            //         box-shadow: inset 0px 0px 0px 1px $color-orange-light;
            //         color: #f28d1d;
            //         &:before {
            //             background-color: #f28d1d;
            //             color: #fff;
            //         }
            //       }
            //       &:hover, &:focus-within {
            //           background: -moz-linear-gradient(top, #ebebeb 0%, #fefefe 100%);
            //           background: -webkit-linear-gradient(top, #ebebeb 0%,#fefefe 100%);
            //           background: linear-gradient(to bottom, #ebebeb 0%,#fefefe 100%);
            //           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#fefefe',GradientType=0 );
            //           color: $color-blue;
            //           text-decoration: none;
            //           &:before {
            //               border-color: $color-blue-light;
            //           }
            //       }
            //     }
            //   } // button-group
            // } // button-container
            
        }
        .behavior {
            .back-link {
                &:before {
                    border-style: solid;
                    border-width: 0 0 0.15em 0.15em;
                    content: '';
                    display: inline-block;
                    height: .65em;
                    left: 5px;
                    margin-right: 10px;
                    position: relative;
                    top: 0.45em;
                    transform: rotate(45deg);
                    vertical-align: top;
                    width: .65em;
                }
            }
            .interact {
                background-color: #fff;
                padding: 30px;
                text-align: center;
            }
            h3 {
                font-weight: 400;
            }
            .btn {
                font-size: 1.125em;
                max-width: 90px;
                width: 100%;
                &.active {
                    background-color: $color-blue-light
                }
            }
            .btn-group-toggle {
                margin-bottom: 2.5em;
            }
            .message {
                transition: opacity .3s ease-out;
                &:not(.show) {
                    opacity: 0;
                }
            }
        }
    }
    .bp-live_annotation-bottom {
        background-color: $color-bottom;
        flex: 1 1 auto;
        height: 100%;
        min-height: 180px;
        .info-side {
            align-items: center;
            display: flex;
            padding: 0 !important;
            position: relative;
            > div {
                align-content: center;
                align-items: center;
                display: flex;
                left: 0;
                position: absolute;
                width: 100%;
            }
            .weather-widget {
                padding: 20px 10px; 
                iframe {
                    pointer-events: none;
                }
            }
            .links {
                height: 100%;
                flex-direction: column;
                justify-content: stretch;
                .btn {
                    align-items: center;
                    background: $color-bottom;
                    background: -moz-linear-gradient(top,  $color-bottom 0%, #57514b 100%);
                    background: -webkit-linear-gradient(top,  $color-bottom 0%,#57514b 100%);
                    background: linear-gradient(to bottom,  $color-bottom 0%,#57514b 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-bottom', endColorstr='#57514b',GradientType=0 );
                    border: none;
                    border-radius: 0;
                    color: #fff;
                    display: flex;
                    font-size: 1.25em;
                    height: 50%;
                    justify-content: center;
                    white-space: normal;
                    width: 100%;
                    &:hover, &:focus {
                        background: #57514b;
                        background: -moz-linear-gradient(top,  #57514b 0%, $color-bottom 100%);
                        background: -webkit-linear-gradient(top,  #57514b 0%,$color-bottom 100%);
                        background: linear-gradient(to bottom,  #57514b 0%,$color-bottom 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57514b', endColorstr='$color-bottom',GradientType=0 );
                        text-decoration: underline;
                    }
                    &:focus {
                        outline: {
                            width: 2px;
                            style: dotted;
                            color: rgba($color-orange,.8);
                            offset: 1px;
                        }
                    }
                    &:first-child {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
            .btn-secondary {
                background-color: #fff;
                border-color: #0068a9;
                color: #0068a9 !important;
                margin: 1em 0;
                &:hover {
                    background-color: darken(#fff, 6%);
                }
            }
        }
        .info {
            border-left: 1px solid #fff;
            position: relative;
            > div {
                left: 0;
                position: absolute;
                width: 100%;
            }
            .welcome {
                align-items: center;
                justify-content: center;
                height: 100%;
                top: 0;
                width: 100%;
                &.show {
                    display: flex !important;
                }
                p {
                    font-size: 1.25em;
                    margin-bottom: 0;
                    max-width: none;
                    text-align: center;
                    span {
                        display: block;
                        font-size: 1.5em;
                    }
                }
                a {
                    color: #fff;
                    display: inline-block;
                    padding: 10px 20px; 
                    &:hover {
                        color: $color-gray-medium;
                        display: inline-block;
                        text-decoration: none;
                    }
                }
            }
            .status {
                top: 0;
                padding: 20px 30px;
                h4 {
                    color: #fff;
                    font-size: 1.3em;
                    margin: 0 0 .5em;
                    padding: 0;
                    text-transform: uppercase;
                    span {
                        display: none;
                    }
                }
                p {
                    color: #fff;
                    font: {
                        size: 1.125em;
                        weight: 300;
                    }
                    letter-spacing: .03em;
                    line-height: 1.25em;
                    margin: 0 0 .4em;
                    position: relative;
                    transition: all .2s ease-in;
                    strong {
                        font-weight: 500;
                    }
                    em {
                        font-weight: 300;
                    }
                    &.new {
                        color: #f6b880;
                    }
                }
                .annotation-button-delete {
                    background: none;
                    border: none;
                    display: inline-block;
                    opacity: .8;
                    padding: 0;
                    transition: opacity .2s ease-out;
                    &:after {
                        background-color: $color-gray-medium;
                        border-radius: 50%;
                        color: $color-black;
                        content: "\00d7";
                        cursor: pointer;
                        display: inline-block;
                        height: 20px;
                        font: {
                            size: 18px;
                            weight: 500;
                        }
                        letter-spacing: -.05em;
                        line-height: 16px;
                        margin: 0 10px;
                        text-align: center;
                        transition: all .2s ease-out;
                        width: 20px;
                    }
                    &:hover, &:focus {
                        opacity: 1;
                    }
                    &:focus{
                        outline:none;
                        &:after {
                            outline: {
                                width: 2px;
                                style: dotted;
                                color: rgba($color-orange,.8);
                                offset: 0;
                            }
                        }
                    }
                }
            }
            .bp-live_annotation-updates {
                &.nano {
                    height: 115px;
                }
            }
        }
    }
    div[data-session] {
        opacity: 0;
        transition: opacity .3s ease-out;
        z-index: 0;
        &.show { 
            opacity: 1;
            z-index: 2;
        }
        &:not(.show) {
            height: 0;
            overflow: none;
        }
    }
    #weather-widget {
        background-color: transparent;
        margin:auto !important;
        text-align: center !important;
        h3 {
            color: #fff;
            float: none !important;
            font: {
                family: $font-family;
                size: 2.5rem !important;
                weight: normal !important;
            }
            margin: auto;
            padding: 0;
            text-align: center;
        }
        div.aw-widget-current-inner {
            div.aw-widget-content {
                background: 0 0;
                border: none !important;
                h3 {
                    display: none !important;
                }
                p {
                    color: #fff;
                    float: none !important;
                    font-family: $font-family;
                    margin: auto;
                    padding: 0 !important;
                    text-align: center;
                    width: 100% !important;
                    span.aw-temperature-today {
                        font-size: 2.75em !important;
                    }
                    span.aw-weather-description {
                        font-size: 1.25em !important;
                    }
                }
                sup {
                    vertical-align: baseline !important;
                }
                a.aw-current-weather {
                    cursor: default;
                    div.aw-current-weather-inner{
                        padding: 0 !important;
                    }
                }
            }
        } 
        span.aw-icon, time, div.aw-get-widget-footer, #link_get_widget{
            display: none!important;
        }
    }
    @media (min-width: 1024px) and (max-width: 1200px) {
        .bp-live_annotation-aside {
            .annotate {
                .bp-live_annotation-buttons{
                    .button {
                        &.activity {
                            button {
                                background-size: 40px auto;
                                padding-left: 45%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 800px) and (max-width: 1023px) {
        .bp-live_annotation-aside {
            .annotate {
                .bp-live_annotation-buttons{
                    .button {
                        &.activity {
                            flex-basis: 100%;
                            height: 7vw;
                            button {
                                background: {
                                    position: 35px center;
                                }
                                padding: 10px 8px 10px 100px;
                            }
                            &:last-of-type {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1023px) {
        .cover-video {
            pointer-events: none;
        }
        .bp-live_annotation-bottom {
            .info { 
                .status {
                    font-size: 14px; 
                }
            }
        }
        .bp-live_annotation-aside {
            .annotate {
                .bp-live_annotation-buttons{
                    .button {
                        &.species {
                            button {
                                background: {
                                    position: 10px center;
                                    size: 80% auto;
                                }
                            }
                        }
                        &.activity {
                            button {
                                background: {
                                    position: 30px center;
                                    size: auto 65%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 780px) {
        .bp-live_annotation-feed {
            .bp-live_annotation-video-container {
                &.sticky {
                    top: 10px;
                }
            }
        }
    }
    @media (max-width: 1024px) {
    // @media (max-width: 799px) {
        .grid-layout {
            display: block;
        }
        div[data-session] { 
            position: relative !important;
            &.show { 
                display: block;
            }
            &:not(.show) {
                display: none;
            }
        }
        .bp-live_annotation-feed {
            .intro-text {
                h2 {
                    font-size: 3rem;
                }
                p {
                    font-size: 2rem;
                }
            }
        }
        .bp-live_annotation-aside {
            .annotate {
                .bp-live_annotation-buttons{
                    .button {
                        &.species, &.activity {
                            align-items: center;
                            display: flex;
                            button {
                                padding: 5px 10px 5px 45% !important;
                            }
                        }
                        &.species {
                            height: 15vw;
                            button {
                                background: {
                                    position: 15px center;
                                    size: auto 70%;
                                }
                                text-align: left;
                            }
                        }
                        &.activity {
                            height: 15vw;
                            button {
                                background: {
                                    // position: 30px center;
                                    // size: auto 65%;
                                    position: 50px center;
                                    size: auto 78%;
                                }
                            }
                        }
                        &:before {
                            background-size: 60%;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
        .bp-live_annotation-bottom {
            flex-direction: column;
            .info {
                border-bottom: 1px solid #fff;
                border-left: none;
                order: 1;
                width: 100%;
                .status {
                    font-size: 14px;
                    p {
                        font-size: 1em;
                    }
                    .annotation-button-delete {
                        &:after {
                            font-size: 14px;
                            height: 15px;
                            line-height: 15px;
                            margin: 0 0 0 5px;
                            position: relative;
                            top: -2px;
                            width: 15px;
                        }
                    }
                }
            }
            .info-side {
                order: 2;
                width: 100%;
                .weather-widget {
                    padding: 10px;
                }
            }
        }
        #weather-widget {
            div.aw-widget-current-inner {
                div.aw-widget-content {
                    h3 {
                        padding: 0 !important;
                        width: auto !important;
                    }
                }
            }
        }
    }
    @media (max-width: 479px) {
        .bp-live_annotation-feed {
            .intro-text {
                border-radius: .3rem;
                left: 1rem;
                margin-right: 1rem;
                padding: 1rem;
                top: 1rem;
                h2 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
        .bp-live_annotation-aside {
            .annotate {
                .bp-live_annotation-buttons{
                    .button {
                        &.species, &.activity {
                            button {
                                padding-left: 40% !important;
                            }
                        }
                        &.species {
                            button {
                                background: {
                                    position: 10px center;
                                }
                            }
                        }
                        &.activity {
                            button {
                                background: {
                                    // position: 20px center;
                                    position: 40px center;
                                }
                                padding-left: 35% !important;
                            }
                        }
                    }
                }
            }
        }
        .bp-live_annotation-bottom {
            .info {
                .status {
                    padding: 15px 5px;
                }
            }
        }
        
    }
    div.learn-container {
        padding-top: 2em;
        max-width: 968px;
        &:focus {
            outline: none;
        }
        h3 {
          font-size: 1.6em; 
          margin: 0 0 1em;
          padding: 0; 
        }
        h4 {
            font-size: 1.4em;
            margin: 0 0 1em;
            padding: 0;
        }
        p {
            max-width: none !important;
            &.intro {
                font-size: 1.2em;
            }
        }
        ul, ol {
            margin-bottom: 1em;
            margin-top: -.5em;
        }
        &:not(.show) {
           display: none;
        }
    }
}


hr.seperate {
    margin: 2.5em 0;
}

.modal {
    .modal-dialog {
        max-height: 90vh;
        max-width: 96vw;
        width: 1000px;
    }
    .modal-header, .modal-footer {
        border: none;
    }
    .modal-header {
        padding-bottom: 0;
        .close {
            font-size: 36px;
            line-height: 1em;
            opacity: .8;
            position: absolute;
            right: 10px;
            top: 0;
        }
    }
    .modal-footer {
        padding-top: 0;
    }
    h4 {
        font-weight: 500;
        margin-top: 0;
        padding: 0;
    }
    p {
        max-width: none;
    }
    .step {
        &:not(.show) {
            display: none;
        }
    }
    .species {
        margin-bottom: 1.5rem;
        img {
            margin-bottom: 1rem;
        }
    }
    .nano {
        height: 90vh;
        .nano-content, .nano-pane {
            bottom: 15px;
            top: 50px;
        }
        .nano-pane {
            right: 5px;
        }
    }
}

.nano {
    height: 115px;
    overflow: hidden;
    position: relative;
    width: 100%;
    .nano-content {
        padding-right: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        &:focus {
            outline: thin dotted;
        }
        &::-webkit-scrollbar {
            display: block;
        }
    }
    &.has-scrollbar {
        .nano-content {
            overflow: scroll;
            overflow-x: hidden;
        }
    }
    > .nano-pane {
        background: rgba(0,0,0,.25);
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        opacity: .5;
        transition: .2s;
        width: 10px;
        > .nano-slider {
            background: rgba(0,0,0,.5);
            border-radius: 3px;
            margin: 0 1px;
            position: relative;
        }
    }
    &:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
        opacity: 0.99;
    }
}   

#bp-live_annotation-tutorial {
    .modal-content {
        background-color: #434343;
        .modal-body {
            * {
                color: #fff;
            }
            > br {
                display: none;
            }
        }
    }
    .modal-header {
        min-height: 0;
        padding: 0;
    }
    .close {
        color: #fff;
        font-weight: 400;
        text-shadow: none;
        z-index: 200;
    }
    .slide-count {
        color: #fff;
        float: left;
        font-size: 1.5em;
    }
}
.step {
    position: relative;
    h4 {
        font: {
            size: 1.5em;
            weight: 400;
        }
    }
    p {
        max-width: none;
    }
    > p:first-child { 
        display: none;
    }
    .btn {
        border-color: darken(#939598, 10%);
        background-color: darken(#939598, 2%);
        &:focus {
            outline-offset:-2px;
        }
    }
    ol {
        font-size: 14px !important;
        li {
            font: {
                size: 1.3em;
                weight: 400;
            }
            letter-spacing: .05em;
            line-height: 1.3em;
            margin: 0 0 1em 1.5em;
            a {
                text-decoration: underline;
            }
        }
    }
    span.remove {
        display: inline-block;
        opacity: .8;
        &:after {
            background-color: $color-gray-medium;
            border-radius: 50%;
            color: $color-black;
            content: "\00d7";
            cursor: pointer;
            display: inline-block;
            height: 20px;
            font: {
                size: 18px;
                weight: 500;
            }
            letter-spacing: -.05em;
            line-height: 16px;
            margin: 0 6px;
            text-align: center;
            transition: all .2s ease-out;
            width: 20px;
        }
    }
    @media (min-width: 800px) {
        .modal-dialog, .modal-content {
            height: auto;
        }
        ol {
            margin: 0 !important;
            max-width: 75%!important;
            padding: 20px!important;
            position: absolute;
            width: 725px;
            li {
                color: #fff;
                a {
                    color: #e7e7e8;
                    text-decoration: underline;
                }
            }
        }
    }
    @media (max-width: 799px) {
        .modal-dialog, .modal-content {
            height: auto;
        }
        ol {
            padding: 0 !important;
        }
    }
}
.modal-backdrop {
    &.in {
        opacity: .8;
    }
}
.grid p img {
    height: auto !important;
}  


@keyframes stickyVideo {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

/* Page overrides */
.page-id-1925 #bp-article-content, .page-id-1925 #bp-article-content p { max-width:885px; }
body.annotation-user {
    #wp-admin-bar-root-default, #wp-admin-bar-search, #wp-admin-bar-edit-profile { 
        display: none; 
    }
    #wp-admin-bar-user-info a {
        color: #b4b9be !important;
        cursor: default;
    }
}
@media (min-width: 29.999em) {
  #annotation-field-guide {
    .col-nested.col-2-nested {
      .nested-col:first-of-type, .nested-col:last-of-type {
        padding-top: 0 !important;
        width: 48% 
        !important;
      }
      .nested-col:first-of-type {
        margin-right: 2% !important;
      }
    }
  }
}

// IE 11 support
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #bp-live_annotation-container {
        .grid-layout {
            display: flex;
            flex-wrap: wrap;
        }
        .bp-live_annotation-feed {
            width: 75%;
        }
        .bp-live_annotation-aside {
            width: 25%;
        }
        .bp-live_annotation-info {
            flex-grow: 2;
            width: 100%;
        }
    }
 }

 @media screen and (min-width:0\0) {
    #bp-live_annotation-container {
        .bp-live_annotation-aside {
            .welcome {
                .browsehappy {
                    display: block;
                }
            }
        }
    }
 }